body{
	 font: 400 1em ARIAL, sans-serif;
	color: #000000;
	background-color:#E3E4E5;
}


h1{
	
	font: 400 2em ARIAL, sans-serif;
	  text-align:center;
	  
	  background-color:#E3E4E5;
	  color: #000000;
	  text-decoration:underline;
	  
	
}

h2{
	 grid-column: span 6;
	  font: 400 1.8em ARIAL, sans-serif;
	  text-align:center;
	  
	  background-color:#E3E4E5;
	  color: #000000;
	  
	  
  }



main{
	  display: flex;
   
}
 
  
  section{
	  margin: auto;
	
	 text-align:center;
	 display: grid;
    grid-template-columns: repeat(6,6em);
    align-items: center ;
    
    overflow-x: auto;
	 
	
	 
  }
  
  input[type=text]{
	  
	  grid-column: span 1;
	  margin-bottom: 0.5em;
	  font: 400 1.5em ARIAL, sans-serif;
	  color: #000000;
	   
	   background-color:#FFFFFF;
	   width:3.5em;
	   height:2em;
	   
	   
  }
  
  textarea{
	  grid-column: span 6;
	  overflow-y: scroll;
	  text-align:center;
	   background-color:#FFFFFF ;
	    color: #000000;
	   font: 400 1.3em ARIAL, sans-serif;
	  
	  height:10em;
	   margin-bottom:0.5em;
	  
 }
  
  
  label{
	
	  font: 400 1.5em ARIAL, sans-serif;
	  background-color:#E3E4E5;
	  color: #000000;
	  
  }
  
  
  input[type=button]{
	  
	 
	  margin: 0.2em 0.4em;
	  font: 400 1em ARIAL, sans-serif;
	  color: #FFFFFF;
	  
	   background-color:#626262;
	   width:5em;
	   height:3em;
	   
  }


  

  input[value="Dias"]{

	color: #FFFFFF;
 	background-color:#8B0000;
  }
  
  input[value="Año"]{

	grid-column: span 4;
	color: #FFFFFF;
 	background-color:#000000;
  }
  
  input[value="Mes"]{
	grid-column: span 4;
	color: #FFFFFF;
 	background-color:#000000;
  }
  
  input[value="Dia"]{
	grid-column: span 4;
	color: #FFFFFF;
 	background-color:#000000;
  }

  
  input[value="Enter"]{

	color: #FFFFFF;
 	background-color:#8B0000;
  }
  
  input[value="DEL"]{

	color: #FFFFFF;
 	background-color:#000000;
  }
  input[value="C"]{
	color: #FFFFFF;
 	background-color:#000000;
  }
  
  input[value="Comprobar"]{
	grid-column: span 6;
	width:35em;
	
  }
  
  p{
	  grid-column: span 6;
  }
  
 
 